---
layout: page.liquid
title: Blog
permalink: "/blog.html"
redirect_from: [
  "/blog/index.html",
]
---
{% assign postsByYear = collections.post | reverse | group_by_exp:"post", "post.date | date: '%Y'" %}
<div class="blog-listing">
  {% for year in postsByYear %}
    {% assign postCount = year.items | size %}
    <div class="year-section">
      <p class="year-heading">{{ year.name }} ({{ postCount }})</p>

      <div class="post-list">
        {% for post in year.items %}
        <article class="post-item">
          <a href="{{ post.url }}" class="post-item-title">{{ post.data.title }}</a>
          <p class="post-item-summary">{{ post.data.summary }}</p>
        </article>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
</div>
