---
permalink: '/blog/{{ page.fileSlug }}.html'
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="stylesheet" href="/assets/css/main.css">
    <link href="/assets/css/prism-theme/prism-darcula.css" rel="stylesheet"/>

    <link rel="icon" type="image/png" href="/favicon.png"/>

    <title>{{ title }} - Varun Barad</title>
    <meta name="description" content="{{ summary }}"/>

    {% if canonical_url %}
        <!-- Canonical URL -->
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}

    <!-- RSS Feed meta-data -->
    <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}"/>

    <!-- Twitter meta-data -->
    <meta name="twitter:site" content="@{{ site.twitter_username }}"/>
    <meta name="twitter:image:src" content="{{ site.url }}/assets/images/logo-hd.png"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ title }}"/>
    <meta name="twitter:description" content="{{ summary }}"/>

    <!-- Open-Graph meta-data -->
    <meta property="og:site_name" content="{{ site.title }}"/>
    <meta property="og:image" content="{{ site.url }}/assets/images/logo-hd.png"/>
    <meta property="og:type" content="object"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
    <meta property="og:description" content="{{ summary }}"/>
</head>
<body>
{% include 'header.liquid' %}

<main>
    <article class="h-entry">
        <div class="post-header">
            <h1 class="post-title p-name">
                <a class="u-url" href="{{ page.url }}">{{ title }}</a>
            </h1>
            <div class="post-meta">
                By <a class="p-author h-card" href="https://varunbarad.com">Varun Barad</a> on <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: '%B %d, %Y' }}</time>
            </div>
        </div>

        <div class="post-content e-content">
            {{ content }}
        </div>

        <div class="post-categories">
            <div class="post-categories-label">Categories:</div>
            <div>
                {% for category in categories %}
                    <a href="/category/{{ category }}.html">#{{ category }}</a>
                {% endfor %}
                <a href="/blog">#all</a>
            </div>
        </div>
    </article>
</main>

{% include 'footer.liquid' %}
</body>
</html>
