---
permalink: "/"
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="icon" type="image/png" href="/favicon.png"/>
  <title>Varun Barad</title>
  <meta name="description" content="{{site.description}}"/>

  <!-- RSS Feed meta-data -->
  <link type="application/atom+xml" rel="alternate" href="{{ site.url }}/feed.xml" title="{{ site.title }}"/>

  <!-- Twitter meta-data -->
  <meta name="twitter:site" content="@{{site.twitter_username}}"/>
  <meta name="twitter:image:src" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="{{site.title}}"/>
  <meta name="twitter:description" content="{{site.description}}"/>

  <!-- Open-Graph meta-data -->
  <meta property="og:site_name" content="{{site.title}}"/>
  <meta property="og:image" content="{{site.url}}/assets/images/logo-hd.png"/>
  <meta property="og:type" content="object"/>
  <meta property="og:title" content="{{site.title}}"/>
  <meta property="og:url" content="{{site.url}}{{page.url}}"/>
  <meta property="og:description" content="{{site.description}}"/>

  <!-- Styles kept here for now -->
  {% include '_new_styles.html' %}
</head>
<body>
{% include '_header.html' %}

<main>
  <div class="container-full-width">
    <img src="/assets/images/profile.png" alt="Profile picture of Varun">
  </div>
  <div>
    <p>
      I am a fullstack developer working currently at <a href="https://qweebi.com">Qweebi</a>. I enjoy building quality software and learning new things.
    </p>
    <p>
      I am interested in online-privacy, owning our content/data, sci-fi stories and many other things. So feel free to
      <a href="/contact">contact me</a> to discuss those or anything else.
    </p>
  </div>

  <hr>

  <h2>Recent articles ({{ collections.post |  size }} posts)</h2>
  <ul>
    {% for post in collections.post limit:3 %}
      <li>{{ post.data.title }}</li>
    {% endfor %}
  </ul>
  <p><a href="/blog">View all articles</a></p>

  <hr>

  <h2>Recent projects ({{ projects | size }} projects)</h2>
  <ul>
    {% for project in projects limit:3 %}
      <li>{{ project.name }}</li>
    {% endfor %}
  </ul>
  <p><a href="/projects">View all projects</a></p>
</main>

{% include '_footer.html' %}
</body>
</html>
